mixin tip(brief, desc)
  .notification
    p #[b Tip: ]#{brief}
    p!= desc

mixin warn(brief, desc)
  .notification.is-warning
    p #[b 警告：]#{brief}
    p!= desc

mixin danger(brief, desc)
  .notification.is-danger
    p #[b 危險！]#{brief}
    p!= desc