//-
  存放公告的特殊檔案。

-
  /*
    越新的應擺的越上面。過舊的可以刪除。

    格式 FORMAT
      [{
        'title': '標題',
        'date': [年年年年, 月月, 日日],
        'content': '內文',
        'footer': [ // .card-footer, optional
          {
            'name': '連結名稱',
            'href': '連結',
            'isBlank': '是否開新分頁'
          }
        ],
        'pin': true // add 'pin' tag, optional.
      }]
  */
  const announces = [
    { // pin
      'title': '欸欸網頁有新的東西，但我這邊還沒更新欸',
      'date': [2020, 01, 15],
      'content': "你就多 <b class='highlight'>重新整理</b> 幾次網頁唄，可能是快取問題，多重新整理幾次就正常了。",
      'pin': true
    },
    { // pin
      'title': '108 第二學期上傳延期',
      'date': [2020, 02, 27],
      'content': [
        "因為開學延期，所以同學上傳時間也延後，",
        "約 3 月中課程項目才會確定顯示，目前尚無法上傳唷！"
      ].join('\n'),
    },
    {
      'title': '變更課程學習成果的上傳日',
      'date': [2020, 01, 15],
      'content': [
        '課程學習成果的上傳日原訂為1月16日，',
        '因學生學習歷程檔案本學期第一次實施上傳，',
        '希望給予學生較多彈性以最佳化學習歷程檔案，',
        '上傳時間延至1月20日。'
      ].join('')
    },      
    { // pin
      'title': '問問我要怎麼進來這裡 QAQ',
      'date': [2020, 01, 15],
      'content': [
        "從 <a class='is-blank' href='http://www.smhs.kh.edu.tw'>學校首頁</a> ",
        "右側的學習歷程網中上方（手機版是側邊）選單的 <b class='highlight'>學習成果製作</b> ",
        '下拉選單中，點選就可以進來了～'
      ].join(''),
      'footer': [
        {
          'name': '圖片教學',
          'href': '/assets/indexEntry.webp',
          'isBlank': true
        }
      ]
    }
  ]

//-
  製作公告卡片

  格式 FORMAT
    [[{
      'title': '標題',
      'date': [年年年年, 月月, 日日],
      'content': '內文',
      'footer': [ // .card-footer, optional
        {
          'name': '連結名稱',
          'href': '連結',
          'isBlank': '是否開新分頁'
        }
      ],
      'pin': true // add 'pin' tag, optional.
    }]]
mixin makeAnnounceCard(title, date, content, footer = null, pin = false)
  .card
    .card-content
      h4.title.is-4
        if pin
          span.tag.pin-tag 置頂
        | #{title}
      h6.subtitle.is-6 #{date[0]}年#{date[1]}月#{date[2]}日
      p!= content
    if footer
      .card-footer
        each item in footer
          - const additionalClass = `${item.isBlank && 'is-blank'}`
          a.card-footer-item(class=additionalClass href=item.href)= item.name

mixin announceGenerator
  .columns.is-multiline
    each announce in announces
      .column.is-half
        +makeAnnounceCard(
          announce.title, announce.date,
          announce.content, announce.footer,
          announce.pin
        )
