mixin countdown(describe, expired)
  .notification.countdown-part
    button.delete
    .container
      h3.title.is-3.is-center= describe
      - const exp = new Date(expired)
      h6.subtitle.is-6.is-center
        | #{exp.getFullYear()} 年 #{exp.getMonth() + 1} 月 #{exp.getDate()} 日 #[br]
        | #{exp.getHours()} 時 #{exp.getMinutes()} 分 #{exp.getSeconds()} 秒
      .countdown.is-center(data-expired=expired)
        span.days
          span.num 0
          sub d
        span.hours
          span.num 0
          sub h
        span.minutes
          span.num 0
          sub m
        span.seconds
          span.num 0
          sub s