meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
- const themeColor = '#ffcc80'

// Chrome Android
meta(name='theme-color' content=themeColor)
// Windows Phone
meta(name='msapplication-navbutton-color' content=themeColor)
// iOS Safari
meta(name='apple-mobile-web-app-status-bar-style' content=themeColor)

meta(name='description' content='高雄市立三民高中 SMHS 學習歷程 解疑網，搭配 GIF 動畫圖以及影片示範，包含壓縮檔案、PPT 轉檔、上傳檔案等常見問題，快速上手祕笈～')
meta(property="og:image" content="https://epf.iwebs.tw/assets/cover/preview/previewV2.png")
link(rel="icon" type="image/png" href="https://api.iwebs.tw/1021/clsCDN/INDEX/images/icons/favicon.ico")
link(rel="Shortcut Icon" type="image/x-icon" href="https://api.iwebs.tw/1021/clsCDN/INDEX/images/icons/favicon.ico")
meta(name="author" content="高雄市立三民高中 黃猷珵 & pan93412 同學")

-
  const navbarItem = {
    '學習歷程檔案': {
      '登入教學': '/epf/login.html',
      '上傳教學': '/epf/upload.html',
      '認證申請教學': '/epf/request.html'
    },
    '文件掃描／轉檔': {
      '掃描教學': '/doc/scan.html',
      'Word/PPT 轉檔': '/doc/convert.html',
      '壓縮 PDF': '/doc/compress_pdf.html'
    },
    "其他": {
      '關於': '/about.html',
      '網站歷史': 'https://epf.iwebs.tw/pages/History',
      '問題詢問／錯誤回報': 'https://epf.iwebs.tw/pages/Problems',
      '網頁原始碼': 'https://github.com/smhs-os-project/smhs-epf-faq'
    }
  }

mixin title(sectionName)
  title SMHS 學習歷程解疑網 - [#{sectionName}]

  nav.navbar.web-navbar
    .navbar-brand
      a.navbar-item(href='/')
        | #[img(src='/assets/smhs_logov2.png' alt='SMHS')] 學習歷程解疑網【#{sectionName}】
      a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='header-nav-toggle')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    .navbar-menu#header-nav-toggle
      .navbar-start
        each val, key in navbarItem
          if typeof val === 'object'
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link= key
              .navbar-dropdown
                each url, entry in val
                  a.navbar-item(href=url)= entry
          else
            a.navbar-item(href=val)= key

mixin top
  button.button.back-top TOP
  
mixin countdown(describe, expired)
  .container.countdown-part
    h3.title.is-3= describe
    .countdown(data-expired=expired)

mixin articleTitle(title)
  h2.title.is-2.section-title #[a#article]#{title}
  h4.subtitle.is-4.section-subtitle 想看影片教學嗎？#[a(href='#video') 點這裡～]

mixin videoTitle
  h3.title.is-3.step-title #[a#video] 影片示範
  h4.subtitle.is-4.section-subtitle 想看圖文教學嗎？#[a(href='#article') 點這裡～]