meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
- const themeColor = '#ffcc80'

// Chrome Android
meta(name='theme-color' content=themeColor)
// Windows Phone
meta(name='msapplication-navbutton-color' content=themeColor)
// iOS Safari
meta(name='apple-mobile-web-app-status-bar-style' content=themeColor)

meta(name='description' content='高雄市立三民高中 SMHS 學習歷程 解疑網，搭配 GIF 動畫圖以及影片示範，包含壓縮檔案、PPT 轉檔、上傳檔案等常見問題，快速上手祕笈～')
meta(property="og:image" content="https://epf.iwebs.tw/assets/cover/preview/previewV2.png")
link(rel="icon" type="image/png" href="https://api.iwebs.tw/1021/clsCDN/INDEX/images/icons/favicon.ico")
link(rel="Shortcut Icon" type="image/x-icon" href="https://api.iwebs.tw/1021/clsCDN/INDEX/images/icons/favicon.ico")
meta(name="author" content="高雄市立三民高中 黃猷珵 & pan93412 同學")

-
  const navbarItem = {
    '學習歷程檔案': {
      '登入教學': '/epf/login.html',
      '上傳教學': '/epf/upload.html',
      '認證申請教學': '/epf/request.html',
      '多元表現說明': '/epf/explain.html'
    },
    '文件掃描／轉檔': {
      '掃描教學': '/doc/scan.html',
      'Word/PPT 轉檔': '/doc/convert.html',
      '壓縮 PDF': '/doc/compress_pdf.html',
      '壓縮圖片': '/doc/compress_img.html',
      '合併多張圖片': '/doc/concatenate_imgs.html'
    },
    '影音處理': {
      '壓縮教學（先讀！）': 'https://free.com.tw/youcompress',
      '影片壓縮': 'https://www.youcompress.com/videos/',
      '音樂壓縮': 'https://www.youcompress.com/mp3/',
      '影片製作': 'https://zh.lmgtfy.com/?q=%E5%BD%B1%E7%89%87+%E5%89%AA%E8%BC%AF'
    },
    '申請學校': {
      '新增申請學校': '/school/add.html',
      '管理備審資料': '/school/manage_data.html',
      '管理成品區': '/school/manage_works.html'
    },
    '其他': {
      '關於': '/about.html',
      '網站歷史': 'https://epf.iwebs.tw/pages/History',
      '問題詢問／錯誤回報': 'https://epf.iwebs.tw/pages/Problems',
      '網頁原始碼': 'https://github.com/smhs-os-project/smhs-epf-faq'
    }
  }

  // 要在新視窗開啟的元素。
  const makeBlank = [
    '壓縮教學（先讀！）', // 影音處理
    '影片壓縮', // 影音處理
    '音樂壓縮', // 影音處理
    '影片製作', // 影片製作
    '問題詢問／錯誤回報', // 其他
    '網頁原始碼' // 其他
  ]

  // 要擺到右邊的元素。（僅適用於第二層 object 或第一層元素）
  const makeRight = [
    '其他'
  ]

mixin _addLinks(entry, url)
  if makeBlank.includes(entry)
    a.navbar-item.is-blank(href=url)= entry
  else
    a.navbar-item(href=url)= entry

//-
  設定標題。

  @param {string} sectionName 區段標題。會寫在 <title>，可以長一點。
  @param {string} shortName   簡要標題。會用在開頭列。
                              因為寬度不夠，所以請寫短一點。
                              （盡可能 6 個字以內，最好 2-4 個字）
                              預設值：${sectionName}

  設定範例 SETTING EXAMPLES
      +title('Word/PPT 轉檔', '文件轉檔')
mixin title(sectionName, shortName = sectionName)
  title SMHS 學習歷程解疑網 - [#{sectionName}]

  nav.navbar.web-navbar
    .navbar-brand
      a.navbar-item(href='/')
        | #[img.logo(src='/assets/smhs_logov2.webp' alt='SMHS')] 學習歷程解疑網#[span.navbar-page-title 【#{shortName}】]
      a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='header-nav-toggle')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    .navbar-menu#header-nav-toggle
      .navbar-start
        each val, key in navbarItem
          if typeof val === 'object' && !(makeRight.includes(key))
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link= key
              .navbar-dropdown
                each url, entry in val
                  +_addLinks(entry, url)
          else if !(makeRight.includes(key))
            +_addLinks(entry, url)
          //- else 則到 navbar-end
      .navbar-end
        each val, key in navbarItem
          if makeRight.includes(key)
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link= key
              .navbar-dropdown.is-right
                each url, entry in val
                  +_addLinks(entry, url)