//-
  存放公告的特殊檔案。

-
  /*
    第一層是 columns，第二層是 column。
    越新的應擺的越上面。過舊的可以刪除。

    格式 FORMAT
      [[{
        'title': '標題',
        'date': ['年', '月', '日'],
        'content': '內文'
      }]]
  */
  // 第一層是 columns，第二層是 column。
  // 請將較新的擺在上面。
  //- 過舊的可以刪除。
  const announces = [
    [
      {
        'title': '變更課程學習成果的上傳日',
        'date': ['2020', '01', '15'],
        'content': [
          '課程學習成果的上傳日原訂為1月16日，',
          '因學生學習歷程檔案本學期第一次實施上傳，',
          '希望給予學生較多彈性以最佳化學習歷程檔案，',
          '上傳時間延至1月20日。'
        ].join('')
      }
    ]
  ]

mixin announceGenerator
  each announceGroup in announces
    .columns
      each announce in announceGroup
        .column
          .card
            .card-content
              h4.title.is-4= announce.title
              - const dat = announce.date
              h6.subtitle.is-6 #{dat[0]}年#{dat[1]}月#{dat[2]}日
              p!= announce.content
      if announceGroup.length < 2
        .column
