include ../includes/article.include.pug
doctype html

html
  head
    meta(charset='UTF-8')
    //- 頁面資訊
    span#meta&attributes({
      'data-page-id': 'epf-login'
    })
  body
    +title('登入') //- 連同 title 標籤都會一起設定。
    +top // Back to Top!

    section.section
      .container
        +articleTitle('我到底該怎麼登入系統ㄋ？ ')
        .columns
          .column
            h3.title.is-3.step-title Step 1
            h5.subtitle.is-5.step-subtitle 進入 #[a(href='https://epf.kh.edu.tw/' target='_blank') 高雄市學習歷程檔案庫] 並使用校務行政系統來登入
          .column
            img(src='/assets/epf/epfhighschoolLogin.gif' alt='登入系統')
        .columns
          .column
            h3.title.is-3.step-title Step 2
            h5.subtitle.is-5.step-subtitle 登入好了唷～去看看#[a(href='upload.html') 怎麼上傳學習成果]？
    section.section
      .container
        +videoTitle
        .columns
          .column
            iframe(
              width="560" height="315" src="https://www.youtube.com/embed/H1Kla8bVUzI"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )
          .column
            iframe(
              width="560" height="315" src="https://www.youtube.com/embed/xHGBTLQ-_94"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )